@media screen and (max-width: 840px){
  .clear-read {
    margin: 5px auto;
  }

  input {
    margin: 10px auto;
  }

  .submit-button {
    margin: 10px auto;
  }
}



@media screen and (max-width: 650px){
  .left {
    display: block;
    height: inherit;
    position: relative;
    width: 100%;
  }

  .title {
    font-size: 30pt;
  }

  .logo {
    height: 50px;
    width: 50px;
  }

  input {
    margin: 10px auto;
    width: 250px;
  }

  .submit-button {
    margin: 10px auto;
    width: 250px;
  }

  .counter-container {
    display: flex;
  }

  .total-bookmarks, .read-bookmarks, .unread-bookmarks {
    font-size: 10pt;
  }

  .clear-read {
    width: 250px;
  }

  .right {
    background-color: #CFD8DC;
    display: block;
    width: 100%;
  }
}
