body {
  background-color: #CFD8DC;
}

/*LEFT SIDE*/
.left {
  background-color: #455A64;
  display: inline-block;
  height: 100vh;
  margin-right: -4px;
  position: fixed;
  vertical-align: top;
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 55px;
  margin: 0 10px -10px 10px;
  width: 55px;
}

.title {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 35pt;
  font-weight: 800;
  margin: 30px auto;
  text-align: center;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  font-weight: 400;
  height: 30px;
  margin: 30px auto;
  width: 80%;
}

input:focus, button:focus {
  border: 2px solid #FFC107;
  outline: none;
}

.error {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  margin: 10px auto;
  opacity: 0;
  text-align: center;
}

.total-bookmarks, .read-bookmarks, .unread-bookmarks {
  color: #CFD8DC;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  margin: 15px auto;
  text-align: center;
}

.submit-button {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  font-weight: 800;
  height: 35px;
  margin: 30px auto;
  width: 81%;
}

.submit-button:hover {
  background-color: #FFD773;
}

.clear-read {
  background-color: #FFC107;
  border: none;
  color: #FFFFFF;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: 400;
  height: 20px;
  margin: 15px auto 10px auto;
  width: 30%;
}

.clear-read:hover {
  background-color: #FFD773;
}

/*RIGHT SIDE*/
.right {
  background-color: #CFD8DC;
  display: inline-block;
  position: absolute;
  right: 0;
  vertical-align: top;
  width: 50%;
}

ul {
  background-color: #CFD8DC;
}


.new-card {
  background-color: #FFFFFF;
  border: 1px solid #607D8B;
  display: flex;
  flex-direction: column;
  height: inherit;
  margin: 20px auto;
  position: relative;
  width: 80%;
}

.first-hr {
  border: .5px solid #CFD8DC;;
  width: 90%;
}

.second-hr {
  border: .5px solid #CFD8DC;;
  width: 90%;
}

.read {
  background-color: #F2F4F4;
}

button.read {
  color: #F05A28;
  font-weight: 800;
}

.bookmark-name {
  color: #455A64;
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  font-weight: 400;
  margin: 10px 0 5px 20px ;
  padding-bottom: 10px;
  width: 78%;
  word-wrap: break-word;
}

.url-name {
  border-bottom: .5px solid #F2F4F4;
  color: #607D8B;
  font-family: 'Open Sans', sans-serif;
  font-size: 15pt;
  font-weight: 400;
  margin: 5px 0 0 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  width: 78%;
  word-wrap: break-word;
}


.read-button, .delete-button {
  background: none;
  border: none;
  border-bottom: 1px solid #F2F4F4;
  color: #455A64;
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: 400;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 5px 15px;
}

.read-button:hover, .delete-button:hover {
  border-bottom: 1px solid #FFC107;
  color: #455A64;
  font-weight: 800;

}

a:hover {
  border-bottom: .5px solid #FFC107;
  color: #455A64;
  font-weight: 800;
}
