.left {
  display: inline-block;
  height: 100vh;
  width: 49%;
  border: 1px solid purple;
  vertical-align: top;
}

.right {
  display: inline-block;
  height: 100vh;
  width: 50%;
  border: 1px solid red;
  vertical-align: top;
}

.new-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 400px;
  height: 150px;
  border: 1px solid black;

}

.bookmark-name {
  color: magenta;
}

.url-name {
  color: purple;
}
